@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

:root{
    --main-color: #34282C;
    --color-dark: #1d2231;
    --color-gray: #fff;
}
*{
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
    height: 100%;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--main-color);
    color: #ffffff;
    overflow-y: auto;
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}
.sidebar-header label{
    cursor: pointer;
}
.sidebar-menu ul{
    padding-left: 0;
}
.sidebar-menu ul li{
    border-top: 1px solid gray;
}
.sidebar-menu ul li:hover{
    background-color: #3A3B3C;
}
.sidebar-menu ul li:hover a{
    text-decoration: none;
}
.sidebar ul li a{
    display: block;
    color: #ffffff;
    font-size: .9rem;
    padding: 1rem;
    text-decoration: none;
}
.sidebar a span:first-child{
    padding-right: .6rem;
}
.main-content{
    position: relative;
    margin-left: 240px;
}
header{
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background-color: #ffffff;
    height: 60px;
    border-bottom: 1px solid gray;
    padding: 0rem 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.search-wrapper{
    display: flex;
    align-items: center;
}
.search-wrapper input{
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 38px;
}
.social-icon{
    display: flex;
    align-items: center;
}
.social-icon span,
.social-icon div{
    margin-left: 1.2rem;
}
.social-icon div{
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-512.png');
    border-radius: 50%;
}
main{
    margin-top: 60px;
    background-color: rgb(224, 223, 223);
    min-height: 90vh;
    padding: 3rem;
}
.dashboard-title{
    color: var(--color-dark);
    margin-bottom: 1rem;
}
.dashboard-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
}
.card-single{
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    grid-row-gap: 3rem;
    
}
.card-body{
    display: flex;
    padding: 1.3rem 1rem;
    align-items: center;
    background-color: #839192 ;
}
.card-body span{
    font-size: 2rem;
    color: #fff;
    padding-right: 1.4rem;
    font-weight: 600;
}
.card-body h5{
    color: var(--color-gray);
    font-size: 1.2rem;
}
.card-body h4{
    color: #FFBF00;
    font-size: 1.1rem;
    margin-top: .2rem;
}
.card-footer{
    padding: .5rem 1rem;
    background-color: #f9fafc;
}
.card-footer:hover{
    background-color: green;
}
.card-footer a{
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: var(--main-color);
    text-decoration: none;
}
.card-footer a:hover{
    text-decoration: none;
    color: #fff;
}
.recent{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.activity-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 1.5rem;
}
.activity-card{
    background-color: #ffffff;
    border-radius: 7px;
}
.activity-card h3{
    color: var(--color-gray);
    margin: 1rem;
}
/* responsive and toggle */
.sidebar{
    transition: width 500ms;
}
.main-content{
    transition: margin-left 500ms;
}
header{
    transition: left 500ms;
}
#sidebar-toggle{
    display: none;
}
#sidebar-toggle:checked ~ .sidebar{
    width: 60px;
}
#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child{
    display: none;
}
#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li{
    display: flex;
    justify-content: center;
}

#sidebar-toggle:checked ~ .main-content{
    margin-left: 60px;
}
#sidebar-toggle:checked ~ .main-content header{
    left: 60px;
}
.table-responsive{
    overflow-x: auto;
}
@media only screen and (max-width: 1200px) {
    .sidebar{
        width: 60px;
        z-index: 150;
    }
    .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child{
        display: none;
    }
    .sidebar .sidebar-header,
    .sidebar li{
        display: flex;
        justify-content: center;
    }
    
    .main-content{
        margin-left: 60px;
    }
    .main-content header{
        left: 60px;
        width: calc(100% - 60px);
    }
    #sidebar-toggle:checked ~ .sidebar{
        width: 240px;
    }
    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
    #sidebar-toggle:checked ~ .sidebar li span:last-child{
        display: inline;
    }
    #sidebar-toggle:checked ~ .sidebar .sidebar-header{
        display: flex;
        justify-content: space-between;
    }
    #sidebar-toggle:checked ~ .sidebar li{
        display: block;
    }
    #sidebar-toggle:checked ~ .main-content{
        margin-left: 60;
    }
    #sidebar-toggle:checked ~ .main-content header{
        left: 60;
    }
}
@media only screen and (max-width: 860px){
    .dashboard-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .card-single{
        margin-bottom: 1rem;
    }
    .activity-grid{
        display: block;
    }
}
@media only screen and (max-width: 600px){
    .dashboard-cards{
        grid-template-columns: 100%;
    }
}
@media only screen and (max-width: 450px){
    main{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
div.dataTables_wrapper div.dataTables_length select {
    width: 100px;
}

#totalUsers{
    background: rgb(163,150,120);
    background: -moz-linear-gradient(90deg, rgba(163,150,120,1) 4%, rgba(226,171,82,1) 30%, rgba(0,164,255,1) 98%);
    background: -webkit-linear-gradient(90deg, rgba(163,150,120,1) 4%, rgba(226,171,82,1) 30%, rgba(0,164,255,1) 98%);
    background: linear-gradient(90deg, rgba(163,150,120,1) 4%, rgba(226,171,82,1) 30%, rgba(0,164,255,1) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a39678",endColorstr="#00a4ff",GradientType=1);
}
